@debug('import plugin scss variables');


@import "~phovea_ui/dist/scss/vendors/bootstrap/1_functions";

// import custom theme variables and bootstrap variables overrides
// @import "~tdp_core/dist/scss/themes/datavisyn";
@import "~phovea_ui/dist/scss/vendors/bootstrap/2_variables_overrides";


@import "~phovea_ui/dist/scss/vendors/bootstrap/3_variables_mixins_utilities";

@import "~ordino/dist/scss/vendors/bootstrap_modify_maps";
@import "~phovea_ui/dist/scss/vendors/bootstrap/4_modify_maps";

@import "~phovea_ui/dist/scss/vendors/bootstrap/5_components";

// import all variables scss
// first default app
@import "~ordino_public/dist/scss/abstracts/variables";

// then going up in the dependency tree from the default app
@import "~ordino/dist/scss/abstracts/variables";
@import "~tdp_core/dist/scss/abstracts/variables";
@import "~phovea_clue/dist/scss/abstracts/variables";
@import "~phovea_ui/dist/scss/abstracts/variables";
@import "~phovea_security_flask/dist/scss/abstracts/variables";

// then all other plugins in this workspace (excluding other apps)
@import "~tdp_uploaded_data/dist/scss/abstracts/variables";
@import "~tdp_gene/dist/scss/abstracts/variables";
@import "~tdp_publicdb/dist/scss/abstracts/variables";
@import "~tourdino/dist/scss/abstracts/variables";
@import "~@fortawesome/fontawesome-free/scss/variables";

// import mixins
@import "~@fortawesome/fontawesome-free/scss/mixins";
@import "~tdp_core/dist/scss/abstracts/mixins";

@debug('import plugin main scss');

// all main scss (in opposite order of the variables scss
@import "~tourdino/dist/scss/main";
@import "~tdp_publicdb/dist/scss/main";
@import "~tdp_gene/dist/scss/main";
@import "~tdp_uploaded_data/dist/scss/main";
@import "~phovea_security_flask/dist/scss/main";
@import "~phovea_ui/dist/scss/main";
@import "~phovea_clue/dist/scss/main";
@import "~tdp_core/dist/scss/main";
@import "~ordino/dist/scss/main";
@import "~ordino_public/dist/scss/main";
